{% extends 'task_base.html' %}
{% load static %}

{% block title %}A.M.S.G ｜ 解答{% endblock %}

{% block activa_login %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST">
                <div class="card-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <table class="table">
                            {% for quest in q_list %}
                            <thead>
                                <th>問題文</th>
                                <th>解答欄</th>
                            </thead>
                            <tbody>
                                <td>
                                    {{ quest.q_statement }}
                                </td>
                                <td>
                                    <input type="text" name="answer">
                                </td>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">試験終了</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}