{% extends 'task_base.html' %}
{% load static %}

{% block title %}A.M.S.G ｜ 問題詳細{% endblock %}

{% block activa_login %}active{% endblock %}

{% block contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">{{ class.class_name }}</h1>
        <div class="card mb-4">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>氏名</th>
                            <th>ユーザーID</th>
                            <th>メールアドレス</th>
                        </tr>
                    </thead>
                    {% for student in stu_list %}
                    <tbody>
                        <tr>
                            <th>{{ student.username }}</th>
                            <th>{{ student.id }}</th>
                            <th>{{ student.email }}</th>
                        </tr>
                    </tbody>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <th>氏名</th>
                            <th>ユーザーID</th>
                            <th>メールアドレス</th>
                        </tr>
                    </tfoot>
                </table>
                <a class="btn btn-primary" href="{% url 'task:class_edit' class.pk %}">編集</a>
                <a class="btn btn-danger" data-toggle="modal" data-target="#testModal">クラス削除</a>
                <a class="btn btn-secondary ml-2" href="{% url 'task:class_list' %}">戻る</a>
                <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>削除確認画面</h4>
                            </div>
                            <div class="modal-body">
                                <label>クラスを削除しますか？</label>
                            </div>

                            <form method="POST" action="{% url 'task:class_info_pop' object.pk %}">
                                {% csrf_token %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                                    <button type="submit" class="btn btn-danger" name="class-del">削除</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- クラス削除ーおわりんゆー -->

                <!-- モーダル処理  -->
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous"></script>
            </div>
        </div>
    </div>
</main>

</html>
{% endblock %}