{%extends 'task_base.html'%}

{%load static%}

{%block title%}A.M.S.G ｜ クラス一覧{%endblock%}

{%block contents%}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">受験生徒一覧</h1>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>氏名</th>
                        <th>得点</th>
                    </tr>
                </thead>
                <tbody>
                    {% for date in result_list %}
                    <tr>
                        <td>{{ date.exam_user }}</td>
                        <td>{{ date.exam_score }}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{%endblock%}