{% extends 'task_base.html' %}
{% load static %}

{% block title %}問題追加{% endblock %}

{% block contents %}
<div class="container">
    <h3 class="mt-4">問題追加</h3>
    <div class="row">
        <form method="POST">
            <div class="my-div-style w-100">
                <table class="table">
                    {% csrf_token %}
                    {{ form.as_table }}
                </table>
                <button class="btn btn-success" type="submit">追加</button>
                <a class="btn btn-secondary ml-2" href="{% url 'task:task_list'%}">キャンセル</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}