{% extends 'task_base.html' %}
{% load static %}

{% block title %}課題編集{% endblock %}

{% block contents %}
<div class="container">
    <h3 class="mt-4">課題編集</h3>
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST">
                <div class="card-body">
                    {% csrf_token %}
                        <div class="form-group" id="list">
                            <div>
                                <label>課題名</label>
                                <input type="text" name="task" value="{{ task.task_name }}">
                                <label>教科</label>
                                <input type="text" name="subject" value="{{ task.task_subject }}">
                                <label>科目</label>
                                <input type="text" name="smallsubject" value="{{ task.task_smallsubject }}">
                                <label>総得点</label>
                                <input type="number" name="total" value="{{ task.task_score }}">
                            </div>

                            {% for quest in quest_list %}
                                <div class="list_var">
                                    <div class="row">
                                        <div class="col-3">
                                            <strong>問題文</strong>
                                        </div>
                                        <div class="col-9">
                                            <input type="text" name="statement" value="{{ quest.q_statement }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <strong>解答</strong>
                                        </div>
                                        <div class="col-9">
                                            <input type="text" name="answer" value="{{ quest.q_answer }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <strong>点数</strong>
                                        </div>
                                        <div class="col-9">
                                            <input type="number" name="point" value="{{ quest.q_point }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <strong>自動採点</strong>
                                        </div>
                                        <div class="col-9">
                                            <select name="select_0">
                                                {% if quest.q_autostatus == '0' %}
                                                <option value="off">Off</option>
                                                <option value="on">On</option>
                                                {% else %}
                                                <option value="on">On</option>
                                                <option value="off">Off</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <input type="button" value="Delete" class="list_del">
                                </div>
                                <br>
                            {% endfor %}
                            
                            <div class="list_var">
                                <label>問題文</label><br>
                                <input class="form-control" type="text" id="list_0" name="question_0">
                                <label>解答</label><br>
                                <input class="form-control" type="text" id="list_0" name="answer_0">
                                <label>点数</label><br>
                                <input class="form-control" type="number" id="list_0" name="score_0">
                                <label>自動採点</label>
                                <select name="select_0">
                                    <option value="on">On</option>
                                    <option value="off">Off</option>
                                </select>
                                <button class="list_del">Delete</button>
                            </div>
                        </div>
                        <input type="button" value="Add" class="list_add">
                </div>
                <button type="submit" class="btn btn-success">登録</button>
            </form>
            <a class="btn btn-secondary ml-2" href="{% url 'task:task_info' object.pk %}">キャンセル</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js" integrity="sha256-yOwGvcRp3I8/XWkeARhJkgdfLREQygbFA5W2bUpM2FY=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#list').addInputArea();
</script>
{% endblock %}