{% extends 'task_base.html' %}
{% load static %}

{% block title %}課題詳細{% endblock %}

{% block contents %}
<div class="container">
    <h3 class="mt-4">課題詳細</h3>
    <div class="my-div-style w-100">
        <a class="btn btn-success mt-5 mb-3" href="{% url 'task:task_set' task.pk %}">課題実施</a>
        <div class="row">
            <div class="col-3">
                <strong>課題名</strong>
            </div>
            <div class="col-9">
                {{ task.task_name }}
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <strong>教科</strong>
            </div>
            <div class="col-9">
                {{ task.task_subject }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <strong>総得点</strong>
            </div>
            <div class="col-9">
                {{ task.task_score }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <strong>作成者</strong>
            </div>
            <div class="col-9">
                {{ task.task_created_by }}
            </div>
        </div>

        <a class="btn btn-success mt-5 mb-3" href="{% url 'task:quest_add' task.pk %}">問題追加</a>
        <a class="btn btn-primary mt-5 mb-3" href="{% url 'task:task_edit' task.pk %}">課題課題編集</a>

        <a class="btn btn-danger" data-toggle="modal" data-target="#taskModal">課題課題削除</a>
        <a class="btn btn-secondary mt-5 ml-2 mb-3" href="{% url 'task:task_list' %}">戻る</a>
        <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>削除確認画面</h4>
                    </div>
                    <div class="modal-body">
                        <label>この課題を削除しますか？</label>
                    </div>

                    <form method="POST" action="{% url 'task:task_info_pop' object.pk %}">
                        {% csrf_token %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                            <button type="submit" class="btn btn-danger" name="task-del">削除</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- モーダル処理  -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
            </script>

        {% for quest in quest_list %}
        <div class="row">
            <div class="col-3">
                <strong>問題文</strong>
            </div>
            <div class="col-9">
                {{ quest.q_statement }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <strong>解答</strong>
            </div>
            <div class="col-9">
                {{ quest.q_answer }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <strong>点数</strong>
            </div>
            <div class="col-9">
                {{ quest.q_point }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <strong>自動採点</strong>
            </div>
            <div class="col-9">
                {% if quest.q_autostatus == '0' %}
                Off
                {% else %}
                On
                {% endif %}
            </div>
        </div>
        <a class="btn btn-success mt-5 mb-3" href="{% url 'task:quest_edit' quest.pk %}">編集</a>
        <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'task:quest_delete' quest.pk %}">削除</a>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}