{% extends 'task_base.html' %}
{% load static %}

{% block title %}ユーザー詳細{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
                <strong>権限</strong>
            </div>
            <div class="col-9">
                {% if customuser.user_auth == "1" %}
                    管理者
                {% endif %}
                {% if customuser.user_auth == "2" %}
                    教員
                {% endif %}
                {% if customuser.user_auth == "3" %}
                    生徒
                {% endif %}
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-3">
                <strong>学年</strong>
            </div>
            <div class="col-9">
                {{ customuser.user_grade }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <strong>氏名</strong>
            </div>
            <div class="col-9">
                {{ customuser.username }}
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-3">
                <strong>メールアドレス</strong>
            </div>
            <div class="col-9">
                {{ customuser.email }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <strong>ユーザーID</strong>
            </div>
            <div class="col-9">
                {{ customuser.id }}
            </div>
        </div>
        <a class="btn btn-success mt-5 mb-3" href="{% url 'task:user_edit' customuser.pk %}">編集</a>
        <a class="btn btn-primary mt-5 mb-3" data-toggle="modal" data-target="#testModal">削除</a>
        <a class="btn btn-secondary mt-5 mb-3" href="{% url 'task:user_list' %}">戻る</a>
        <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>削除確認画面</h4>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <label>データを削除しますか？</label>
                    </div>

                    <form method="POST" action="{% url 'task:user_info_pop' object.pk %}">                        
                        {% csrf_token %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                            <button type="submit" class="btn btn-danger" name="user-del" >削除</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ここまでがユーザー変更 -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    </div>
</div>
{% endblock %}